.section-accordion-container {
    padding: em(55);
    width: 100%;
    @media only screen and (max-width: 767px){
        padding: em(25);
    }
    .accordion-wrapper {
        width: 100%;
        max-width: em(900);
        margin: 0 auto;
        .tabs-container {
            .tabs-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                position: relative;
                @media only screen and (max-width: 767px){
                    flex-direction: column;
                }
                .tabs-item {
                    width: calc(25% - 1em);
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;
                    padding: em(10);
                    @media only screen and (max-width: 767px){
                        width: 100%;
                    }
                    &.active {
                        border-bottom: 0;
                        border-right: 1px solid #ccc;
                        border-top: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        @media only screen and (max-width: 767px){
                            border: 0;
                            border-bottom: 1px solid #ccc;
                        }
                        .tabs-content-container {
                            .tabs-content-wrapper{
                                display: block;
                                p{
                                 
                                }
                            }
                            
                        }
                        .tab-header {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    .tab-header {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        img {
                            width: em(15);
                            transition: .2s transform;
                            display: none;
                            @media only screen and (max-width: 767px){
                                display: inline;
                            }
                        }
                    }

                    .tabs-content-container {
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-top: em(25);
                        @media only screen and (max-width: 767px){
                            position: relative;
                            margin-top: em(10);
                        }
                        .tabs-content-wrapper{
                            padding: 0 em(10);
                            display: none;
                            @media only screen and (max-width: 767px){
                                padding: 0;
                            }
                            p{
                                
                            }
                        }

                        
                    }
                }
            }
        }
    }
}